


#content{
    max-width: 1600px;
    margin: 0, auto;
  
}

nav a{
    text-align: center;
    text-decoration: none;
    color:#03045e;
}


#hero-msg h1{
    text-align:center ;
}
#hero-msg h4{
    text-align:center ;

}



.button-box{
    text-align:center ;

}
main section{
    text-align:center ;

}

#background{
    height: 725px;
    background-color:#caf0f8 ;
}
body{
    background-color: cadetblue;
}
header{
    background-color: #caf0f8;
}
nav a:hover{
    background-color: aqua ;
    color:pink;
}
.book{
    background-color: #caf0f8;
    text-decoration: none;
    color:#03045e;
}
.join{
    background-color: #e76f51;
    text-decoration: none;
    color:#03045e;

}

.book:hover{
    background-color: aqua;
    color:#e76f51;
}

.join:hover{
    background-color: aqua;
    color:antiquewhite;
}
.msg{
    background-color: aquamarine;
    
}
.msg h2{
    background-color: #8ecae6;
    color:palegreen;
}
.msg p{
    background-color: #8ecae6;
    color:firebrick;
}
footer{
    background-color: #8ecae6;
    color:pink;
}

footer a{
    background-color: greenyellow;
    text-decoration: none;
    color:blueviolet;

}
footer a:hover{
    background-color: aqua;
    color: white;
    
}
.logo{
     width: 80px;
}
#hero-img{
    width: 100%;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title{
    color:#03045e;
}
h4{
    color:#03045e;
}