@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Oswald:wght@500&display=swap');

#content{
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    grid-template-columns: repeat(10,1fr)
    
}


nav a{
    text-align: center;
    text-decoration: none;
    color:#BA181B ;
    padding: 35px;
    
}
img{
    
    grid-row: 3;
   
}

h3{
    color:#BA181B ;
    text-align: center; 
    font-family: 'Noto Sans';
    grid-column: 4/8;
    margin-top: 50px;
}

body{
    background-color:  #0B090A;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';

}
.cup, .stick, .scale{
    margin: 20px 0;
    border: 10px solid #BA181B;
    transition: transform .5s;

}
.cup{
    grid-column: 2/4;
    width: 100%;
}

.stick{
    grid-column: 5/7;
    width: 100%;

}

.scale{
    grid-column: 8/10;
    width: 100%;
    

}
header{
    background-color: #F5F3F4;
    font-family: 'Oswald';
    grid-column: 1/12;
}
nav a:hover{
    background-color: #BA181B ;
    color:#F5F3F4;
}


footer{
    background-color: #BA181B;
    color:#0B090A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 7;
    grid-column: 1/12;
}

footer a{
    background-color: #BA181B ;
    text-decoration: none;
    color:#0B090A ;

}
footer a:hover{
    background-color: #0B090A ;
    color: white;
    
}
footer p{
    font-size:1.2em;
    font-family: 'Noto Sans';
    
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
    width:50%;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 100px;
}

#conversion{
    color:#BA181B;
    font-display: block;
    grid-column: 1/8;
    margin:30px;
}

@media screen and (max-width: 900px) {
    
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    
    body{
        font-size: 12px;
    }
    
    footer {
        margin-top: 25px;
        grid-row: 7;
        grid-column: 1/12;
        max-width: 100%;
    }
}
            