
#content{
    text-align: center;
    max-width: 900px;
    margin: 0, auto;
 
}
header{
   font-size: larger;

}
img{
    width: 50%;
}
footer{
    font-size: small;
}
#quote{
    font-size: larger;
}