body{
    background-color: #FCA6C9ff;
    
   
}

#content{
    text-align: center;
    width: 570px;
    margin: auto;
}
header{
   font-size: larger;
    color: white;
    

}
header h1:hover {
    color: black;
}
img{
    width: 30%;
}
footer{
    font-size: small;
    width: 290px;
    margin: auto;
    margin-bottom: 40px ;
    font-weight:bold;
    
}
footer p{
    margin: 0;
}
#quote{
    font-size: 30px;
    width: 260px;
    vertical-align:middle;
    text-align: center;
    color:white;
    margin: auto;
    
}

li{
   
    text-align:left;
    font-weight: bolder;
    margin: 10px auto;
    
}